/* 看板娘 */
#top #waifu #live2d {
  height: 250px;
  width: 250px;
}

#top #waifu-tips span {
  color: #2962ff;
}

#top #waifu-toggle {
  z-index: 99;
}

#top #waifu {
  z-index: 99;
}

.waifu-left #waifu-tool {
  right: auto;
  left: 10px
}

.waifu-right #waifu {
  left: auto;
  right: 0;
}

.waifu-right #waifu-toggle {
  margin-right: -100px;
  margin-left: 0px;
  writing-mode: vertical-lr;
}

.waifu-right #waifu-tool {
  right: 10px;
}

.waifu-right #waifu-tips {
  margin-left: auto;
}

.waifu-right #waifu-toggle {
  left: auto;
  right: 0;
  margin-right: -100px;
  transition: margin-right 0.5s;
}

.waifu-right #waifu-toggle.waifu-toggle-active {
  margin-right: -35px;
}

.waifu-right #waifu-toggle.waifu-toggle-active:hover {
  margin-right: -10px;
}

.waifu-left #waifu-toggle {
  transition: margin-left 0.5s;
}

.waifu-left #waifu-toggle.waifu-toggle-active {
  margin-left: -35px;
}

.waifu-left #waifu-toggle.waifu-toggle-active:hover {
  margin-left: -10px;
}




/* nav渐变透明 */
#navbar-main {
  background: #bdc3c7;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0.6), rgba(44, 62, 80, 0.6));
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0.6), rgba(44, 62, 80, 0.6));
}

#navbar-main .container {
  height: 100%;
}

/* nav-menus渐变透明 */
@media (max-width: 991.98px) {
  .navbar-collapse {
    background: #bdc3c7;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0.6), rgba(44, 62, 80, 0.6));
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0.6), rgba(44, 62, 80, 0.6));
  }
}

/* nav字体白色 */
#navbar-main .navbar-brand,
#navbar-main .navbar-toggler i,
#navbar-main .main-menu-item ul li .nav-link,
#navbar-main .nav-icons i {
  color: #fff
}

#navbar-main .navbar-brand:hover {
  color: #2962ff !important;
}

#navbar-main i:hover {
  color: #2962ff !important;
  transition: color 0.6s ease !important;
}

#navbar-main .main-menu-item ul li .nav-link {
  font-weight: bold;
}

/* 首页箭头 */
.dark .btn-primary {
  color: #fff
}

.dark .btn-primary i:hover {
  color: #343a40 !important;
  transition: color 0.3s ease !important;
}

.card h4 {
  text-transform: none;
}


/* 文章详情左侧栏 */
.post-scroll {
  overflow-y: auto;
  direction: rtl
}

.post-scroll #TableOfContents {
  border-left: 0;
  border-right: 1px solid #eee;
}

#TableOfContents ul,
#TableOfContents li a,
ul.toc-top {
  padding: 0;
}

ul.toc-top {
  text-align: left;
  display: block;
}

#TableOfContents ul {
  padding-right: 0.5rem
}


.post-article-container {
  /* 强制换行 */
  max-width: none !important;
  word-wrap: break-word;
  word-break: break-all;
}

.post-article-header-head {
  text-align: center;
}


/* 文章详情gitment评论 */
#container .gitment-container,
#container a.gitment-header-issue-link,
#container a.gitment-header-issue-link:visited,
#container .gitment-editor-tab,
#container a.gitment-editor-footer-tip,
#container a.gitment-editor-logout-link,
#container a.gitment-editor-logout-link:visited,
#container .gitment-comment-header,
#container .gitment-comment-header .gitment-comment-name {
  color: rgba(255, 255, 255, 0.68);
}
#container .gitment-container{
  color: rgba(255, 255, 255, 0.68) !important;
}

#container .gitment-comment-header{
  background-color: rgba(0, 0, 0, 0) !important;
}

#container .gitment-comments-init-btn:disabled,
#container .gitment-editor-submit:disabled,
#container .gitment-editor-submit,
#container .gitment-comments-init-btn {
  background-color: #2962ff;
  border-radius: 3px;
}

#container a.gitment-footer-project-link,
#container a.gitment-footer-project-link:visited,
#container a.gitment-editor-login-link,
#container a.gitment-editor-login-link:visited {
  color: #2962ff
}

#container .gitment-selected {
  color: rgb(40, 42, 54);
}

#container .gitment-header-like-btn svg,
#container .gitment-comment-like-btn svg {
  background: rgba(255, 255, 255, 0.3);
}

#container .gitment-header-like-btn svg {
  border-radius: 5px;
}

#container .gitment-comment-like-btn svg {
  border-radius: 3px;
}

#container .gitment-markdown {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.68)
}




/* 首页查看更多 */
.see-all {
  text-align: right;
  padding: 0 10% 10px 0;
}

.see-all a {
  color: #fff;
}

#top .see-all a:hover {
  color: #ff0000;
}

/* post列表页文章 */
.universal-wrapper {
  padding: 2%
}

.universal-wrapper .media {
  z-index: 0;
  width: 96%;
}

.projects-container {
  min-height: 20rem;
  overflow: visible;
}

.post-right-img {
  width: 10rem;
  height: 100%;
}

.media.stream-item .post-right-img img {
  width: 100%;
  height: 100%;
  max-width: none;
}




/* 网站底部 */
.powered-by {
  margin: 0;
}

.home-section {
  padding: 0;
}

ul.network-icon {
  margin-bottom: 2rem;
}

.home-section .powered-by img {
  display: inline-block;
}

.powered-by .ghbtns-a {
  position: relative;
}

.powered-by .ghbtns-a iframe {
  position: absolute;
  top: 3px;
  left: 5px;
}
