{{ $item := .item }}
{{ $widget := .widget }}

{{ $link := .link }}
{{ $target := .target }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if false }} <!-- 首页文章不需要简介 -->
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}
{{ end }}

{{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

<div class="project-card project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
  <div class="card">
        <!-- =====================此处有修改==================begin -->
      {{ $imageSrc := ""}}

      {{ if $item.Params.image.image }}
        {{ $imageSrc = $item.Params.image.image}}
      {{ else if $item.Params.header.image }}
        {{ $imageSrc = $item.Params.header.image}}
      {{ else if $resource }}
        {{ $image := $resource.Resize (printf "550x q90 %s") }}
        {{ $imageSrc = $image.RelPermalink}}
      {{ end }}

      {{ if $imageSrc }}
        <a href="{{ $link }}" target="_blank" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
        <img src="{{ $imageSrc }}" alt="" class="img-responsive">
        </a>
      {{ end }}
        <!-- =====================此处有修改==================end -->

    <div class="card-text">
        <!-- 此处有修改 -->
      <h4><a href="{{ $link }}" target="_blank" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>
      {{ with $summary }}
      <div class="article-style">
        <p>{{ . }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
